.c-card{
    @include e-card;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: spacing(normal);
    width: 100%;
}
.c-card-title{
    flex-grow: 1;
    color: $color-title-subdued;
    font-weight: normal;
    margin-left: spacing();
}
.c-card-desc{
    width: 100%;
    font-size: 14px;
}
.c-card--no-description{
    align-items: center;
    .c-card-title{
        margin-bottom: 0px;
    }
}
.c-card--no-action{
    .c-card-desc{
        margin-top: 0px;
    }
}