.c-help{
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: white;
    border: 1px solid rgba($color-primary, 30%) , 0.15;
    border-radius: (spacing("small")*2);
    padding: spacing();
    margin: spacing("wide") auto;
}
.c-help__icon{
    font-size: 20px;
    color: $color-primary;
    margin-left: spacing("extra-small");
}