$sidebar-control-width:35px;
$sidebar-icon-size: 20px ;
 $sidebar-logo-height:35px ;
 $sidebar-normal-padding: spacing("small");
 $sidebar-dense-padding: spacing();
 $denes-width: $sidebar-control-width + ($sidebar-dense-padding * 2);
.c-sidebar{
    width: $layout-sidebar;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    padding: spacing("wide") spacing("small");
    background-color: $color-background;


}

.c-sidebar__backdrop{
    position: absolute;
    top: 0;
    right: 0;
    width: $layout-sidebar;
    height: 500%;
     background-color: rgba($color-blue-dark, 0.1) ;
     z-index: 10;
}
.c-sideba__control{
    display: flex;
    width: $sidebar-control-width;
    flex-direction: column;
    align-items: center;
    z-index: 20;
    position: relative;

}
.c-sideba__icon{
    width: $sidebar-icon-size;
    height: $sidebar-icon-size;
    font-size: 16px;
    color: $color-dark;
    margin: spacing("extra-small");
    display: block;

}
.c-sidebar__icon--large{
    width: $sidebar-control-width;
    height: $sidebar-control-width;
}
.c-sidebar__logo{
    margin: 0 0 spacing("normal") 0;
    svg{
        stroke: $color-brand;
    }
}
.c-sidebar__icon--bottom{
    margin-top: auto;
    img{
        width: 100% ;
        height: 100%;
        border-radius: 50%;
    }
}

.c-sideba__menu{
    margin-right: spacing("small");
    position: relative;
    z-index: 20;
}
.c-sideba__title{
    font-size: 24px;
    color: $color-dark;
    line-height: $sidebar-logo-height;
    margin: 0 0 spacing("normal");
    a{
        color: inherit;
    }
}
.c-sideba__link{
    font-family: $family-heading;
    color: $color-dark;
    display: flex;
    align-items: center;
    padding: spacing("extra-small") 0;
    line-height: $sidebar-icon-size;
    & .c-icon{
        margin-left: spacing("extra-small");
    }
    flex-direction: row-reverse;
    justify-content: flex-end;
}



// responsive

@media (max-width: $bp-sidebar) {
    .c-sidebar{
        overflow: hidden;
        width: $denes-width;
        padding-left: 0;
    }
    .c-sidebar__backdrop{
        transform: scale(#{$denes-width / $layout-sidebar});
        transform-origin: 100% 0;
    }
    .c-sideba__menu{
        opacity: 0;
    }
    .c-sidebar:hover{
        width: $layout-sidebar;
        overflow: visible;
        padding-left: $sidebar-normal-padding;
        transform: scale(1);
        .c-sidebar__backdrop{
            transform: scale(1);
        }
        .c-sideba__menu{
            opacity: 1;
        }
    }
}